# List Comprehensions:

Usually you spend a lot of time making lists in many languages.  This can be tedious in other languages whereas its very easy in python using the list comprehension. 

List comprehension is an elegant way to define and create list in Python. List comprehension is a complete substitute for the lambda function as well as the functions map(), filter() and reduce().

# Basic

Syntax:

[expr for val in collection]

let's create a list of the squares of the first one twenty positive integers.  let's first do this without list comprehension.

In [1]:
squares = []
for i in range(1, 21):
    squares.append(i**2)

print(squares)

Now lets use the list comprehension

Same list we get but only needed one line of code instead of three.

In [2]:
squares2 = [num**2 for num in range(1,21)]
print(squares2)

Now lets look at more complex expression.

In [3]:
remainders5 = [num**2%5 for num  in range(1, 21)]
print(remainders5)

# Expression for certain piece of data


Syntax:

[expr for val in collection if testcase]

Below given list of movies and we want to find those movies that start with a letter 'G'. 

See how to do this with and without list comprehensions

In [4]:
movies = ["Star Wars", "Gandhi", "Casablanca", "Avengers", "Gone Girl", "Black Panther", "Incredibles 2", "Godzilla", "Venom", "Aquaman", "Deadpool 2", "Beauty and the Beast", "Guardians of the Galaxy"]

In [5]:
movie = []
for title in movies:
    if title.startswith('A'):
        movie.append(title)
        
print(movie)

In [6]:
movie = [title for title in movies  if title.startswith('G') ]
print(movie)

['Gandhi', 'Gone Girl', 'Godzilla', 'Guardians of the Galaxy']

Below list containing both the movie and a year was released. Now lets find out the movies which released before 2000.

In [7]:
movies = [("Star Wars", 2017),  ("Gandhi", 1982), ("Casablanca", 1942), ("Avengers", 2018), ("Gone Girl", 2014), ("Black Panther", 2018), ("Incredibles 2", 2018), ("Godzilla", 2017), ("Venom", 2018)]

In [8]:
movie = [title for (title, year) in movies if year == 2018]
print(movie)

['Avengers', 'Black Panther', 'Incredibles 2', 'Venom']

# Expression for certain piece of data using multiple conditions

Syntax:

[expr for val in collection if testcase1 and testcase2]

Now lets use the nested testcases to get the desire list from range function

In [9]:
[num for num in range (1, 151) if num % 2 ==0 and num % 5 ==0 ]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

# Loop over more than one collection

Syntax

[expr for val1 in collection1 for val2 in collection2]


We have initialized the below two list containing the Odd and Even numbers. Lets create a another list using list comprehension using Cartesian product mathematical operation

In [10]:
A = [1, 3, 5]
B = [2, 4, 6]
cartesianp = [(a,b) for a in A for b in B]
print(cartesianp)

[(1, 2), (1, 4), (1, 6), (3, 2), (3, 4), (3, 6), (5, 2), (5, 4), (5, 6)]

# Concatenation Vs Comprehensions

Notice the difference between below two operations. Where the first one produce the list concatenation where as second pefroms the actual operation on list

This is how operation using comprehension on list behaves different than the normal list.

In [11]:
A = [1, 2, 3]
4*A

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
w = [4*x for x in A]
print(w)

[4, 8, 12]

# More Examples

In [13]:
[i for i in "superman".upper()]

['S', 'U', 'P', 'E', 'R', 'M', 'A', 'N']

In [14]:
[n*m  for n in 'xyz' for m in range(1, 5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [15]:
[n*m for m in range(1, 5) for n in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [16]:
[[m+n] for m in range(1, 4) for n in range(1, 4)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [17]:
[[m+n for m in range(1, 5)] for n in range(1, 5)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [18]:
[(num2, num1) for num1 in range(1, 4) for num2 in range(1, 4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]